# Customize VM
#
# Define available memory and number of CPUs here. 64 bit host systems need to
# set IOAPIC mode to "on" if using more than one CPU, and have virtualization
# features enabled in the BIOS in order to work correctly. Otherwise, the VM
# could not start.
config.vm.provider :virtualbox do |v|

	# Add theses parameters to 'config/custom/Userconfig'
	# because there are personal computer related.
	v.customize ["modifyvm", :id, "--memory", "3072"]
	v.customize ["modifyvm", :id, "--cpus", "4"]
	v.customize ["modifyvm", :id, "--ioapic", "on"]
end